
.JugadorInfo {
    display : flex;
    flex-direction: row;
    box-sizing: border-box;
    
    gap : 10px;

    font-size: 15px;
    color:aliceblue
}

.imgUser {
    height: 30px;
    width : 30px;
}

.Points{
    opacity: .8;
}